@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #262b85;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
  height: 10vh;
  padding: 10px 50px;
  -webkit-box-shadow: 1px 6px 13px 1px #9c9c9c;
  box-shadow: 1px 6px 13px 1px #9c9c9c;
}

header .logo-and-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .logo-and-search h2 {
  color: #fff;
  letter-spacing: 1px;
  margin-right: 35px;
}

header .logo-and-search form#search-form {
  margin-right: 30px;
  height: 35px;
  width: 450px;
}

header .logo-and-search form#search-form .input-wrapper {
  height: 100%;
  border-radius: 5px;
}

header .logo-and-search form#search-form input {
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  outline: none;
  padding: 0 15px;
  border-radius: 2px;
  font-size: 1rem;
  -webkit-box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
  box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
}

header .search-and-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .search-and-btns .btns {
  position: relative;
  z-index: 100;
}

header .search-and-btns .btns button:nth-child(1) {
  margin-right: 10px;
}

header .search-and-btns .btns .login-btn,
header .search-and-btns .btns .signup-btn {
  background-color: transparent;
  border: none;
  height: 35px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

div.res-modal-div {
  display: block;
  color: #fff;
  margin: 20px auto 0 auto;
  width: 90%;
  padding: 20px 0;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 29px -1px #b8b8b8;
  box-shadow: 0px 7px 29px -1px #b8b8b8;
  letter-spacing: 2px;
}

div.res-modal-div p {
  font-weight: bold;
  font-size: 1.2rem;
}

div.content-wrapper {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 40px;
}

div.content-wrapper div.all-cards {
  padding: 20px 40px;
  overflow-y: scroll;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.content-wrapper div.all-cards .post-card {
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 15px 15px 10px 15px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 13px -5px #737373;
  box-shadow: 0px 6px 13px -5px #737373;
}

div.content-wrapper div.all-cards .post-card:hover {
  -webkit-box-shadow: -4px 9px 44px -5px #737373;
  box-shadow: -4px 9px 44px -5px #737373;
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  transition: -webkit-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
}

div.content-wrapper div.all-cards .post-card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.content-wrapper div.all-cards .post-card .card-header h2 a {
  color: #5c5c5c;
  cursor: pointer;
}

div.content-wrapper div.all-cards .post-card .card-header h2 a:hover {
  color: #8b8b8b;
}

div.content-wrapper div.all-cards .post-card .card-header .menu {
  cursor: pointer;
}

div.content-wrapper div.all-cards .post-card .card-header .menu .dot {
  border: 2px solid #747474;
  border-radius: 50px;
  margin-bottom: 3px;
}

div.content-wrapper div.all-cards .post-card .card-body {
  padding: 20px 0;
}

div.content-wrapper div.all-cards .post-card div.footer {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.content-wrapper div.all-cards .post-card div.footer div.elabs-votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.content-wrapper div.all-cards .post-card div.footer div.votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

div.content-wrapper div.all-cards .post-card div.footer div.downvotes {
  margin-left: 10px;
}

div.content-wrapper div.all-cards .post-card div.footer div.downvotes span {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

div.content-wrapper ::-webkit-scrollbar {
  display: none;
}

div.content-wrapper div.post-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 10px;
}

div.content-wrapper div.post-form-wrapper div.post-form {
  width: 400px;
}

div.content-wrapper div.post-form-wrapper div.post-form form {
  height: 100%;
}

div.content-wrapper div.post-form-wrapper div.post-form h2 {
  text-align: center;
  margin-top: 20px;
}

div.content-wrapper div.post-form-wrapper div.post-form div.keyboard {
  float: left;
  width: 10%;
}

div.content-wrapper div.post-form-wrapper div.post-form div.keyboard i {
  color: #ff7a7a;
  font-size: 1.5rem;
  position: relative;
  top: 13px;
  left: 10px;
}

div.content-wrapper div.post-form-wrapper div.post-form div.mouse {
  float: left;
  width: 10%;
}

div.content-wrapper div.post-form-wrapper div.post-form div.mouse i.fa-mouse {
  display: inline;
  color: #ff7a7a;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
  left: 15px;
}

div.content-wrapper div.post-form-wrapper div.post-form div.mouse i.fa-spinner {
  display: none;
  color: #6f6f6f;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
  left: 15px;
}

div.content-wrapper div.post-form-wrapper div.post-form div.topic {
  margin: 30px auto 0 auto;
}

div.content-wrapper div.post-form-wrapper div.post-form div.url {
  margin: 10px auto;
}

div.content-wrapper div.post-form-wrapper div.post-form div.pasted-info {
  margin: 20px auto 0 auto;
}

div.content-wrapper div.post-form-wrapper div.post-form div.topic,
div.content-wrapper div.post-form-wrapper div.post-form div.url,
div.content-wrapper div.post-form-wrapper div.post-form div.pasted-info {
  width: 90%;
  border-bottom: 1px solid #b0b0b0;
}

div.content-wrapper div.post-form-wrapper div.post-form input[name=topic] {
  font-size: 1rem;
  width: 100%;
}

div.content-wrapper div.post-form-wrapper div.post-form input[name=topic],
div.content-wrapper div.post-form-wrapper div.post-form input[name=url] {
  padding: 15px;
  width: 85%;
}

div.content-wrapper div.post-form-wrapper div.post-form input[name=url],
div.content-wrapper div.post-form-wrapper div.post-form textarea[name=pasted-info] {
  cursor: not-allowed;
  font-size: 1rem;
}

div.content-wrapper div.post-form-wrapper div.post-form textarea[name=pasted-info] {
  resize: none;
  width: 100%;
  padding-left: 15px;
}

div.content-wrapper div.post-form-wrapper div.post-form input[name=topic],
div.content-wrapper div.post-form-wrapper div.post-form input[name=url],
div.content-wrapper div.post-form-wrapper div.post-form textarea[name=pasted-info] {
  border: none;
  outline: none;
}

div.content-wrapper div.post-form-wrapper div.post-form div.btn {
  width: 90%;
  height: 50px;
  margin: 10px auto 0 auto;
}

div.content-wrapper div.post-form-wrapper div.post-form div.btn button {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
  cursor: pointer;
  outline: none;
}

div.content-wrapper div.post-form-wrapper div.post-form div.btn button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#2e34a0), to(#2e35ac));
  background-image: linear-gradient(to right, #2e34a0, #2e35ac);
}

div.content-wrapper div.post-form-wrapper div.post-form div.btn button:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
}

.join-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-form form#signup-form {
  border: 1px solid #333;
  width: 400px;
  height: 400px;
  margin-top: 150px;
  display: none;
}

.bg-darken {
  background-color: #3333338c;
}

.bg-darken-blue {
  background-color: #020064;
}

.name-error,
.email-error,
.pw-error {
  display: none;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */