// MY CSS RESET 
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

li {
     list-style-type: none;
}

form#signup-form {
     // border: 1px solid red;
}