@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap');

// MY CSS RESET 
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

li {
     list-style-type: none;
}

body {
     font-family: 'Montserrat', sans-serif;
}

// HEADER STYLES 
header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #262b85;
     background-image: linear-gradient(to right, #262b85, #20257a);
     height: 10vh;
     padding: 10px 50px;
     -webkit-box-shadow: 1px 6px 13px 1px rgba(156, 156, 156, 1);
     -moz-box-shadow: 1px 6px 13px 1px rgba(156, 156, 156, 1);
     box-shadow: 1px 6px 13px 1px rgba(156, 156, 156, 1);

     .logo-and-search {
          display: flex;
          align-items: center;
          // justify-content: space-between;
          width: 100%;

          h2 {
               color: #fff;
               letter-spacing: 1px;
               margin-right: 35px;
          }

          form#search-form {
               margin-right: 30px;
               height: 35px;
               width: 450px;


               .input-wrapper {
                    height: 100%;
                    border-radius: 5px;
               }

               input {
                    height: 100%;
                    width: 100%;
                    border: 1px solid #fff;
                    outline: none;
                    padding: 0 15px;
                    border-radius: 2px;
                    font-size: 1rem;
                    -webkit-box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
                    -moz-box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
                    box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
               }
          }
     }

     .search-and-btns {
          display: flex;

          .btns {
               position: relative;
               z-index: 100;

               button:nth-child(1) {
                    margin-right: 10px;
               }

               .login-btn,
               .signup-btn {
                    background-color: transparent;
                    border: none;
                    height: 35px;
                    color: #fff;
                    outline: none;
                    cursor: pointer;
                    font-size: 1rem;
               }
          }


     }

}

div.res-modal-div {
     display: block;
     color: #fff;
     margin: 20px auto 0 auto;
     width: 90%;
     padding: 20px 0;
     text-align: center;
     border-radius: 5px;
     -webkit-box-shadow: 0px 7px 29px -1px rgba(184, 184, 184, 1);
     -moz-box-shadow: 0px 7px 29px -1px rgba(184, 184, 184, 1);
     box-shadow: 0px 7px 29px -1px rgba(184, 184, 184, 1);
     letter-spacing: 2px;

     p {
          font-weight: bold;
          font-size: 1.2rem;
     }
}

// CONTENT WRAPPER  
div.content-wrapper {
     height: 90vh;
     display: flex;
     padding: 50px 40px;


     div.all-cards {
          padding: 20px 40px;
          overflow-y: scroll;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          .post-card {
               border-radius: 5px;
               margin-bottom: 50px;
               padding: 15px 15px 10px 15px;
               cursor: pointer;
               -webkit-box-shadow: 0px 6px 13px -5px rgba(115, 115, 115, 1);
               -moz-box-shadow: 0px 6px 13px -5px rgba(115, 115, 115, 1);
               box-shadow: 0px 6px 13px -5px rgba(115, 115, 115, 1);

               &:hover {
                    -webkit-box-shadow: -4px 9px 44px -5px rgba(115, 115, 115, 1);
                    -moz-box-shadow: -4px 9px 44px -5px rgba(115, 115, 115, 1);
                    box-shadow: -4px 9px 44px -5px rgba(115, 115, 115, 1);
                    transition: box-shadow .1s ease-in-out;
               }

               .card-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {

                         a {
                              color: #5c5c5c;
                              cursor: pointer;

                              &:hover {
                                   color: #8b8b8b;
                              }
                         }

                    }

                    .menu {
                         cursor: pointer;

                         .dot {
                              border: 2px solid rgb(116, 116, 116);
                              border-radius: 50px;
                              margin-bottom: 3px;
                         }
                    }
               }

               .card-body {
                    padding: 20px 0;
               }

               div.footer {
                    font-size: 0.8rem;
                    display: flex;
                    justify-content: space-between;

                    div.elabs-votes {
                         display: flex;
                    }

                    div.votes {
                         display: flex;
                         margin-left: 5px;
                    }

                    div.downvotes {
                         margin-left: 10px;

                         span {
                              display: inline-block;
                              transform: rotate(180deg);
                         }
                    }
               }

          }
     }

     ::-webkit-scrollbar {
          display: none;
     }

     // WRAPPER AND CHILDREN STYLES

     div.post-form-wrapper {
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-around;
          margin-left: 10px;

          div.post-form {
               // background-color: #fafafa;
               width: 400px;

               form {
                    height: 100%;
               }

               h2 {
                    text-align: center;
                    margin-top: 20px;
               }

               div.keyboard {
                    float: left;
                    width: 10%;

                    i {
                         color: #ff7a7a;
                         font-size: 1.5rem;
                         position: relative;
                         top: 13px;
                         left: 10px;
                    }
               }

               div.mouse {
                    float: left;
                    width: 10%;

                    i.fa-mouse {
                         display: inline;
                         color: #ff7a7a;
                         font-size: 1.5rem;
                         position: relative;
                         top: 10px;
                         left: 15px;
                    }

                    i.fa-spinner {
                         display: none;
                         color: #6f6f6f;
                         font-size: 1.5rem;
                         position: relative;
                         top: 10px;
                         left: 15px;
                    }
               }


               div.topic {
                    margin: 30px auto 0 auto;
               }

               div.url {
                    margin: 10px auto;
               }

               div.pasted-info {
                    margin: 20px auto 0 auto;
               }

               div.topic,
               div.url,
               div.pasted-info {
                    width: 90%;
                    border-bottom: 1px solid #b0b0b0;
               }

               input[name=topic] {
                    font-size: 1rem;
                    width: 100%;
               }

               input[name=topic],
               input[name=url] {
                    padding: 15px;
                    width: 85%;
               }

               input[name=url],
               textarea[name=pasted-info] {
                    cursor: not-allowed;
                    font-size: 1rem;
               }

               textarea[name=pasted-info] {
                    resize: none;
                    width: 100%;
                    padding-left: 15px;
               }

               input[name=topic],
               input[name=url],
               textarea[name=pasted-info] {
                    border: none;
                    outline: none;
                    // background-color: #fafafa;
               }

               div.btn {
                    width: 90%;
                    height: 50px;
                    margin: 10px auto 0 auto;

                    button {
                         width: 100%;
                         height: 100%;
                         border: 1px solid #333;
                         border-radius: 5px;
                         font-size: 1.1rem;
                         letter-spacing: 2px;
                         color: #fff;
                         background-image: linear-gradient(to right, #262b85, #20257a);
                         cursor: pointer;
                         outline: none;

                         &:hover {
                              background-image: linear-gradient(to right, #2e34a0, #2e35ac);
                         }

                         &:active {
                              background-image: linear-gradient(to right, #262b85, #20257a);
                         }
                    }
               }

          }
     }
}



// FORM STYLES
.join-form {
     // height: 90vh;
     display: flex;
     justify-content: center;

     form#signup-form {
          border: 1px solid #333;
          width: 400px;
          height: 400px;
          margin-top: 150px;
          display: none;
     }

}

// DOM EVENT STYLING
.bg-darken {
     background-color: #3333338c;
}

.bg-darken-blue {
     background-color: #020064;
}

.name-error,
.email-error,
.pw-error {
     display: none;
     color: #fff;
}