@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #262b85;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
  height: 10vh;
  padding: 10px 50px;
  -webkit-box-shadow: 1px 6px 13px 1px #9c9c9c;
  box-shadow: 1px 6px 13px 1px #9c9c9c;
}

header .logo-and-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-and-search h1 {
  color: #fff;
  letter-spacing: 1px;
  margin-right: 35px;
}

header .logo-and-search form#search-form {
  margin-right: 30px;
  height: 35px;
  width: 450px;
}

header .logo-and-search form#search-form .input-wrapper {
  height: 100%;
  border-radius: 5px;
}

header .logo-and-search form#search-form input {
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  outline: none;
  padding: 0 15px;
  border-radius: 2px;
  font-size: 1rem;
  -webkit-box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
  box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
}

header .search-and-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .search-and-btns .btns {
  position: relative;
  z-index: 100;
}

header .search-and-btns .btns button:nth-child(1) {
  margin-right: 10px;
}

header .search-and-btns .btns .login-btn {
  background-color: transparent;
  border: none;
  height: 35px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

div.wrapper div.post-form {
  border: 1px solid #333;
  width: 400px;
}

div.wrapper .post-card {
  width: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 6px 23px 0px #bababa;
  box-shadow: 1px 6px 23px 0px #bababa;
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
}

div.wrapper .post-card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #c9c9c9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.wrapper .post-card .card-header h2 {
  color: #5c5c5c;
  cursor: pointer;
}

div.wrapper .post-card .card-header h2:hover {
  color: #8b8b8b;
}

div.wrapper .post-card .card-header .card-menu {
  cursor: pointer;
}

div.wrapper .post-card .card-header .card-menu .dot {
  border: 2px solid #5c5c5c;
  border-radius: 50px;
  margin: 0 0 3px 0;
}

div.wrapper .post-card .card-header .card-menu .dot:hover {
  color: #8b8b8b;
}

div.wrapper .post-card .card-body p {
  padding: 10px 20px;
  border-bottom: 1px solid #c9c9c9;
  min-height: 125px;
  color: #5c5c5c;
  font-weight: bolder;
  line-height: 1.4;
}

div.wrapper .post-card .card-body p i {
  font-size: 1.2rem;
  cursor: pointer;
}

div.wrapper .post-card .card-body p i:hover {
  color: #8b8b8b;
}

div.wrapper .post-card .card-footer {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.wrapper .post-card .card-footer .post-date {
  font-size: .8rem;
}

div.wrapper .post-card .card-footer .votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrapper .post-card .card-footer .votes i {
  color: #5c5c5c;
}

div.wrapper .post-card .card-footer .votes i:hover {
  color: #8b8b8b;
}

div.wrapper .post-card .card-footer .votes .upvotes {
  margin-right: 20px;
}

div.wrapper .post-card .card-footer .votes .upvotes i {
  cursor: pointer;
}

div.wrapper .post-card .card-footer .votes .downvotes i {
  cursor: pointer;
}

.join-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-form form#signup-form {
  border: 1px solid #333;
  width: 400px;
  height: 400px;
  margin-top: 150px;
  display: none;
}

.bg-darken {
  background-color: #3333338c;
}

.bg-darken-blue {
  background-color: #020064;
}

.name-error,
.email-error,
.pw-error {
  display: none;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */