@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap');

// MY CSS RESET 
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

li {
     list-style-type: none;
}

body {
     font-family: 'Montserrat', sans-serif;
}

// HEADER STYLES 
header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #262b85;
     background-image: linear-gradient(to right, #262b85, #20257a);
     height: 10vh;
     padding: 10px 50px;
     -webkit-box-shadow: 1px 6px 13px 1px rgba(156, 156, 156, 1);
     -moz-box-shadow: 1px 6px 13px 1px rgba(156, 156, 156, 1);
     box-shadow: 1px 6px 13px 1px rgba(156, 156, 156, 1);

     .logo-and-search {
          display: flex;
          align-items: center;

          h1 {
               color: #fff;
               letter-spacing: 1px;
               margin-right: 35px;
          }

          form#search-form {
               margin-right: 30px;
               height: 35px;
               width: 450px;


               .input-wrapper {
                    height: 100%;
                    border-radius: 5px;
               }

               input {
                    height: 100%;
                    width: 100%;
                    border: 1px solid #fff;
                    outline: none;
                    padding: 0 15px;
                    border-radius: 2px;
                    font-size: 1rem;
                    -webkit-box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
                    -moz-box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
                    box-shadow: inset 1px 0px 11px 17px #fcfcfca3;
               }
          }
     }

     .search-and-btns {
          display: flex;

          .btns {
               position: relative;
               z-index: 100;

               button:nth-child(1) {
                    margin-right: 10px;
               }

               .login-btn,
               .signup-btn {
                    background-color: transparent;
                    border: none;
                    height: 35px;
                    color: #fff;
                    outline: none;
                    cursor: pointer;
                    font-size: 1rem;
               }
          }


     }

}

// LOGIN FORM 
div.login-form {
     display: none;
     align-items: center;
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.461);
     position: absolute;
     top: 0;
     left: 0;
     z-index: 101;
     height: 100vh;
     width: 100%;

     form {
          border: 1px solid red;
          height: 400px;
          width: 400px;

          h2 {
               text-align: center;
               border-bottom: 1px solid #333;
               padding: 10px 0;
               letter-spacing: 2px;

               span {
                    float: right;
                    padding-right: 5px;
                    cursor: pointer;
               }
          }
     }

}

// WRAPPER AND CHILDREN STYLES

div.wrapper {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-around;
     padding: 50px 0;

     div.post-form {
          border: 1px solid #333;
          width: 400px;
     }

     .post-card {
          // position: relative;
          width: 500px;
          // border: 1px solid #a5a4a4;
          border-radius: 5px;
          -webkit-box-shadow: 1px 6px 23px 0px #bababa;
          -moz-box-shadow: 1px 6px 23px 0px #bababa;
          box-shadow: 1px 6px 23px 0px #bababa;
          background-color: #ffffff;
          border: 1px solid #c9c9c9;

          .card-header {
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 10px 20px;
               border-bottom: 1px solid #c9c9c9;
               // background-image: linear-gradient(to right, #262b85, #20257a);
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;

               h2 {
                    color: #5c5c5c;
                    cursor: pointer;

                    &:hover {
                         color: #8b8b8b;
                    }
               }

               .card-menu {
                    cursor: pointer;

                    .dot {
                         border: 2px solid #5c5c5c;
                         border-radius: 50px;
                         margin: 0 0 3px 0;

                         &:hover {
                              color: #8b8b8b;
                         }
                    }
               }
          }

          .card-body {
               // display: flex;
               // flex-direction: column;

               p {
                    padding: 10px 20px;
                    border-bottom: 1px solid #c9c9c9;
                    min-height: 125px;
                    color: #5c5c5c;
                    font-weight: bolder;
                    line-height: 1.4;

                    i {
                         font-size: 1.2rem;
                         cursor: pointer;

                         &:hover {
                              color: #8b8b8b;
                         }
                    }
               }
          }

          .card-footer {
               padding: 10px 20px;
               display: flex;
               align-items: center;
               justify-content: space-between;

               .post-date {
                    font-size: .8rem;
               }

               .votes {
                    display: flex;

                    i {
                         color: #5c5c5c;

                         &:hover {
                              color: #8b8b8b;
                         }
                    }

                    .upvotes {
                         margin-right: 20px;

                         i {
                              cursor: pointer;
                         }
                    }

                    .downvotes {
                         i {
                              cursor: pointer;
                         }
                    }
               }

          }
     }
}


// FORM STYLES
.join-form {
     // height: 90vh;
     display: flex;
     justify-content: center;

     form#signup-form {
          border: 1px solid #333;
          width: 400px;
          height: 400px;
          margin-top: 150px;
          display: none;
     }

}

// DOM EVENT STYLING
.bg-darken {
     background-color: #3333338c;
}

.bg-darken-blue {
     background-color: #020064;
}

.name-error,
.email-error,
.pw-error {
     display: none;
     color: #fff;
}